body{
    padding: 5px;
    margin: 5px;
    background-color: rgb(131, 184, 187);
}





.inf a{
    color: rgb(0, 0, 0);

}

.imatge{
height: 170px;
    margin: 5px;
    display: flex;
    border: solid 5px black;

}


.nav{

     display: flex;
    text-align: center;
justify-content: center;}

.nav :hover{
    color: crimson
}

.text{
    flex: 1;
}

.cont {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 20px;
    background-color: rgb(255, 255, 255);
}


.imat{
    height: 270px;
    margin: 5px;
    display: flex;
}


#Enlla{
     display: flex;
    text-align: center;
justify-content: center;
}

#mit{
    color: brown;
    background-color:rgb(255, 255, 255);
}

a{
    color: black;
}

a :hover{
    color: darkblue;
}

footer {
background-color: rgb(22, 108, 108);
padding: 10px, 10px;
margin: 0;
}
.video{
    height: 150px;
    display:flex ;
}

.form{
    display: flex;
    text-align: center;
justify-content: center;

}

.imgte{
    height: 100px;
    padding: 2px;
}